PORT=3000
SPREADSHEET_ID=1fJeAzQXZmyWwE9GcVPGh5oUtbUf9eEMMEY9Xsy7MxUQ
SESSION_SECRET=simple_secret_key_change_me
ADMIN_EMAILS=hrd@company.com,admin@company.com
ADMIN_PASSWORD=admin123
USE_MOCK_DATA=false