# Dependencies
node_modules/

# Environment Variables
.env

# Google Service Account Key
service_account.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/